body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #000;
    
}

.canvas{
    position: relative;
    z-index: 10;
    overflow: hidden !important;
}
#cloudCanvas{
    height: 60vh !important;
   
}
.main{
    width: 100%;
height: min-content;
position: relative;
z-index: 4;
}
.artikel{
    position: relative;
    z-index: 1;
    width: 100%;
    background: #000F22 !important;
}
.header-section{
    width: 15%;
    background-color: transparent;
    backdrop-filter: blur(20px);
    box-shadow: inset 0 5px 70px rgba(255, 255, 255, 0.15), inset 0 -5px 70px rgba(255, 255, 255, 0.10);
    -webkit-backdrop-filter: blur(20px);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
}
.header-section h5{
    color: white;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2rem;
margin-top: 10px ;
}
 .mySwiper {
    transition: opacity 0.2s ease-in-out;
  }
  
.mySwiper.hidden {
    opacity: 0;
    pointer-events: none;
  }
  .opacity-100 {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .opacity-0 {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
  }
  
  
.artikel-list{
    width: 100%;
    height: max-content;
    margin-bottom: 20px;
    padding: 20px;
} 
.swiper{
    display: flex;
    width: 100%;
    background-color:transparent;
    margin:50px auto;
}
.swiper-slide {
    width: min-content;
    height: max-content;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: transparent;
    margin-bottom: 60px;
  }
  .swiper-slide .card {
    position: relative;
    z-index: 1;
    width: 100%;
    height:70vh;
    background-color: transparent;
    backdrop-filter: blur(20px);
    box-shadow: inset 0 5px 70px rgba(255, 255, 255, 0.15), inset 0 -5px 70px rgba(255, 255, 255, 0.10);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    color: white;
  }
  .swiper-slide .card img{
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    height: 30vh;
    position: relative;
    z-index: 8;
  }
.swiper-slide .card .card-body a{
    background-color: transparent;
    backdrop-filter: blur(20px);
    box-shadow: inset 0 5px 70px rgba(255, 255, 255, 0.15), inset 0 -5px 70px rgba(255, 255, 255, 0.10);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
}

.background-circle {
    position: absolute;
    width: 405px;
    height: 389px;
    background: #3B266A;
    border-radius: 50%;
    filter: blur(100px);
    z-index: -1;
    animation: rotaion 2.5s infinite;
}
@keyframes rotaion {
    0%   {left: 0px;}
    25%  {left: 800px;
    opacity: 0.6;}
    50%  {left: 900px;
          background-color:#FFF6E3 ;
          opacity: 0.7;
        transform: rotateZ(160deg);}
    75%  {left: 1000px;
        transform: rotate3d(190deg);
        opacity: 0.8;}
    100% {left: 0px;}
}

.custom-navbar {
    width: 100%;
    max-width: 828px;
    height: 96px;
    background: linear-gradient(90deg, rgba(40, 15, 72, 0.35) 0%, rgba(5, 33, 80, 0.35) 100%);
    box-shadow: inset 0 5px 70px rgba(255, 255, 255, 0.15), inset 0 -5px 70px rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    opacity: 0.9;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed !important;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1300;
    box-shadow: inset 0 5px 70px rgba(255, 255, 255, 0.15), inset 0 -5px 70px rgba(255, 255, 255, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-navbar .navbar-nav .nav-link {
    color: white !important;
    font-weight: bold;
    text-transform: capitalize;
    transition: color 0.3s;
    margin: 0 15px;
    font-size: 18px;
}

.custom-navbar .navbar-nav .nav-link:hover {
    color: #000F22;
}

.custom-navbar .navbar-brand img {
    border-radius: 30%;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
}
.abouthero {
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    padding: 30px;
    box-sizing: border-box;
    width: 100vw;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}
.abouthero .hero-text h5{
    font-size:1em; 
    line-height: 1rem;
    font-weight: 300;
    letter-spacing: 1px;
}
.abouthero .hero-text h4{
    font-size:3.5em;
    font-style: italic;
    font-weight: 600; 
    line-height: 3.5rem;
    letter-spacing: 1px;
}
.abouthero img{
    width:100%;
    position: relative;
    z-index: 8;
}
.aboutsection{
    position: absolute;
    z-index: 19;
    width: 100%;
    height: 100vh;
}
.aboutsection img{
    width: 100%;
}
.aboutsection p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: justify;
}

.visicard{
    background-color: transparent;
    backdrop-filter: blur(20px);
    box-shadow: inset 0 5px 70px rgba(255, 255, 255, 0.15), inset 0 -5px 70px rgba(255, 255, 255, 0.10);
    -webkit-backdrop-filter: blur(20px);
    height: max-content;
}
.visicard .card-text,.visicard .card-title{
    color:white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: justify;
    letter-spacing: 0px;
}
#vision{
    background-size: cover;
    background-position: center;
}
#vision img{
    clip-path: circle(50%);
    mix-blend-mode: screen;
    width: 30%;
}
.members #members{
    position: relative;
    z-index: 2;
}
.members .members-list{
    position: absolute;
    background-color:transparent;
    z-index: 2;
}
.members .swiper{
    margin: 80px auto;
}
.members .swiper-slide .card{
    height: max-content;
    border-radius: 20px;
    width: 90%;
}
.members .swiper-slide .card img{
    padding: 0;
    height: 65vh;
}
footer{
    font-family: 'Poppins', sans-serif;
    margin: 50px auto !important;
    height: 8vh;
    padding: 50px;
}
footer .social .bi{
font-size: 1.5rem;
color: white;
transition: 1s;
box-sizing: border-box;
}
footer .social .bi:hover{
    padding: 8px;
    background-color: #3B266A;
    border-radius: 10px;
    color:antiquewhite;
    border: 2px solid #FEF9E1;
}
.container-form{
 padding: 75px;
 box-sizing: border-box;   
}
.herRegistser{
    background-color: transparent;
    backdrop-filter: blur(20px);
    box-shadow: inset 0 5px 70px rgba(255, 255, 255, 0.15), inset 0 -5px 70px rgba(255, 255, 255, 0.10);
    -webkit-backdrop-filter: blur(20px);
    padding: 15px;
    width: 85%;
    margin: 60px auto;
    box-sizing: border-box;
    border-radius:20px;
    position: relative;
    z-index: 10;
    color: white;
}
.herRegistser #emailHelp{
    color: yellow;

}
.overlay1{
background-color: rgba(255, 255, 255, 0.086) !important;
    box-shadow: 10px 9px 5px 0px rgba(73,61,158,0.75);
-webkit-box-shadow: 10px 9px 5px 0px rgba(73,61,158,0.75);
-moz-box-shadow: 10px 9px 5px 0px rgba(73,61,158,0.75);
    padding: 100px;
    opacity: 1px;
    position: absolute;
    width: 77%;
    margin: 85px auto;
    left: 180px;
    height: 85vh;
    z-index: 4;
    border-radius:20px;
}
.overlay2{
background-color: rgba(255, 255, 255, 0.086) !important;
box-shadow:inset 10px 9px 5px 0px rgba(255,239,200,0.75);
-webkit-box-shadow: 10px 9px 5px 0px rgba(255,239,200,0.75) ;
-moz-box-shadow: 10px 9px 5px 0px rgba(255,239,200,0.75);
    padding: 100px;
    opacity: 1px;
    position: absolute;
    width: 76%;
    margin: 115px auto;
    left: 210px;
    height:80vh;
    z-index: 2;
    border-radius:20px;
}
.herregis{
    height: max-content !important;
}
@media (max-width: 768px) {
    body{
        overflow-x: hidden;
        
    }
    footer{
        flex-flow: column;
        padding: 0 !important;
        margin: 0 !important;
        height:min-content;
        position: relative;
        z-index: 100;
    }
    footer .col:nth-child(1) h5{
        font-size: 1.1em;
        margin: 0px !important;
    }
   footer .col:nth-child(2){
    margin: 0px !important;
   }
    footer .col{
        width: 100%;
        padding: 4px !important;
        margin: 0 !important;
    }
    footer .copy{
        font-size: 0.8em;
    }
    #vision .col-12 img{
        position: absolute;
        z-index: 19;
        opacity: 0.5;
    }
    .visicard{
        position: relative;
        z-index: 10;
        padding: 0px !important;
    }
    .visicard .card-text{
        font-size: 0.9rem !important;
        text-align: left;
        line-height:16px;
        opacity: 2;
        letter-spacing: 1px !important;
        text-align: left;
    }
    .aboutsection{
      
        overflow: hidden;
        height: fit-content;
    }
    .aboutsection .col-4{
        display: none !important;
    }
    .aboutsection .col-8{
        width: 100% !important;
        padding: 18px;

    }
    .aboutsection p{
        font-size: 1em !important;
        text-align: left;
        letter-spacing: 0.8px !important;
    }
    .abouthero {
        width:fit-content;
        padding: 0px;
        justify-content: space-between !important;
        height: 100vmax;
        background-position: center !important;
    
    }
    .abouthero .col:nth-child(1){
        position: absolute;
        z-index: 12;
    }
    .abouthero .col:nth-child(2){
        position: relative;
        z-index: 4;
        opacity: 0.6;
        justify-content: center;
        align-items: center;
        align-content: center;
    
    }
    .abouthero .col img{
        width: 70%;

    }
    .abouthero h5{
        font-size: 0.75em !important;
        letter-spacing: 0.2px !important;
    }
    .abouthero h4{
        font-size: 2.5em !important;
        line-height: 2.5rem !important;
        letter-spacing: 0.2px !important;
    }
    .custom-navbar {
        height: auto;
        padding: 10px;
    }
    .custom-navbar .navbar-nav .nav-link {
        margin: 5px 0;
        font-size: 16px;
    }

    .custom-navbar .navbar-brand img {
        width: 150px;
        height: auto;
    }
    
.header-section{
        width: 50%;
    }
    .canvas{
        width: 100% !important;
        height: 90vh !important;
    }
    .members{
        width: max-content;
        overflow: hidden !important;
    }
    #members{
        width: 100vw;
        overflow:hidden !important;
    }
    .swiper{
        margin: 0px;
    }
    .members .swiper{
        margin: 100px auto;
        background-color: none !important;
        overflow: hidden;
        margin: 85px auto;
    }
   
    .members .swiper-slide {
    box-sizing: border-box;
    background-color: transparent;
    backdrop-filter: blur(1px);
    box-shadow: inset 0 5px 70px rgba(255, 255, 255, 0.15) inset,0 -5px 70px rgba(255, 255, 255, 0.10)
    }
    .members .swiper-slide .card{
        height: max-content;
        width: 80vw;
    }
    body{
        overflow: hidden;
    }
    
    .herregis{
        display: flex;
        justify-content: center;  
        align-items: center; 
        height: min-content 
    }
 .herRegistser{
        margin: 0px;
        padding:10px;
        /* display: none; */
        width: 100%;
    }

    .container-form{
        position: relative;
        width: max-content;
        padding: 10px;
        height: min-content;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    }
    .overlay1{
      left: 14px;
      height: 98%;
      width: 95%;
      margin: 0px;
    }
    .overlay2{
        left: 18px;
      height: 100%;
      width: 95%;
      margin: 0px;
    }
 
}

@media (min-width: 769px) and (max-width: 1024px) {
    .artikel .header-artikel{
        width: 30%;
    }
    .artikel-list .card{
        width: 80%;
        height: 50vh;
    }
    .swiper-slide .card{
        width: 50vw;
    }
    .header-section{
        width: 30%;
    }
    .canvas{
        width: 100% !important;
        height: 90vh !important;
    }
  }

  @keyframes slideDownSlow {
  0% {
    transform: translateY(-200%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideDownSlow {
  animation: slideDownSlow 13s ease-out forwards;
}

@keyframes fade-in {
  from { opacity: 0; transform: translateY(-4px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fade-in 0.4s ease-in-out;
}
